<div class="container">
  <% if flash[:notice] %>
    <div class="flash-message text-center rounded">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="row">

    <div class="col-6">
      <h4>Choose whether to create a new session or join an existing one:</h4>
      <br>
      <%= button_to "Create Session", settings_index_path, class: 'btn' %>
      <br>
      <%= form_tag sessions_joinSession_path, method: :post do %>
        <label>Enter session code</label>
        <%= text_field_tag :sessionCode %>
        <%= submit_tag 'Join', class: 'btn' %>
      <% end %>
    </div>
    <div class="col-6 text-right">
      <% if current_user %>
        Signed in as <%= current_user.name %>
        <%= link_to 'Sign Out', signout_path, class: 'btn' %>
      <% else %>
        <%= link_to 'sign in', root_path %>
      <% end %>
    </div>
  </div>
</div>
